@import "~bootstrap/scss/bootstrap";

#calculator {
  text-align: center;
  max-width: 600px;
  margin: 2em auto;
  background-color: gray;
  padding: 1em;
}

.screen {
  text-align: right;
  margin-top: 1em;
}
#top-row{
  height: 1em;
  margin-bottom: 0.5em;
}
#display {
  text-align: right;
}

.cell {
  //border: 1px solid crimson;
  background-color: gray;
  text-align: center;
  button {
    width: 100%;
  }
  button {
    margin-bottom: 1em;
  }

}

.op-br{
  display: flex;
  flex-direction: column;
}

#eval {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}




